body {
    font-family: sans-serif;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.divisor-vertical {
    width: 0;
    border: 0.5px solid gray;
    box-sizing: border-box;
    margin: 4px 0;
}


/* HEADER */
header {
    background-color: rgb(25, 25, 58);
    display: flex;
    justify-content: center;
    padding: 6px 0;
}

.score-counter {
    background-color: white;
    border-radius: 2px;
    display: flex;
    gap: 16px;
    padding: 4px 8px;
}

.score-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4px;
}

.score-container .counter-title {
    font-size: 8px;
    font-weight: 200;
}


/* GAME WINDOW */
.game {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 0 15%;
    gap: 24px;
}

.game * {
    text-align: center;
}

.game-text {
    margin-top: 6px;
    margin-bottom: 10px;
}

.rps-selection {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 12px;
}

.choice-btn {
    background-color: rgb(232, 232, 232);
    border: 2px solid gray;
    color: black;
    font-size: 18px;
    padding: 18px;
    flex: 1 1 0;
    border-radius: 6px;
    max-width: 150px;
}

.active-cursor {
    cursor: pointer;
}

/* will be permanently revealed after first player choice */
.computer-choice {
    display: none;
}

.game-info {
    margin: 0 auto 42px;
}


/* FAILURE & SUCCESS */
/* will be added to .choice-btn via JavaScript */

.choice-success {
    font-weight: 600;
    color: green;
    border-color: green;
}

.choice-failure {
    font-weight: 600;
    color: red;
    border-color: red;
}

/* used on a tie */
.choice-selected {
    font-weight: 600;
    border-color: black;
    border-width: 3px;
}

/* will be applied to header */
.header-win {
    background-color: green;
}

.header-loss {
    background-color: rgb(177, 1, 1);
}


/* OTHER */
.play-again {
    display: none;
}