body {
    font-family: sans-serif;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.divisor-vertical {
    width: 0;
    border: 0.5px solid gray;
    box-sizing: border-box;
    margin: 4px 0;
}


/* HEADER */
header {
    background-color: rgb(25, 25, 58);
    display: flex;
    justify-content: center;
    padding: 6px 0;
}

.score-counter {
    background-color: white;
    border-radius: 2px;
    display: flex;
    gap: 16px;
    padding: 4px 8px;
}

.score-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4px;
}

.score-container .counter-title {
    font-size: 8px;
    font-weight: 200;
}


/* GAME WINDOW */
.game {

}

.game * {
    text-align: center;
}

.game-text {
    margin-top: 6px;
    margin-bottom: 20px;
}

.rps-selection {
    margin: auto;
    margin: 12px 0 48px;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0 10%;
}

.choice-btn {
    background-color: rgb(232, 232, 232);
    border: 2px solid gray;
    color: black;
    font-size: 18px;
    padding: 18px;
    flex: 1 1 0;
    border-radius: 6px;
}

.player-selection .choice-btn {
    cursor: pointer;
}

/* will be permanently revealed after first player choice */
.computer-choice {
    display: none;
}


/* FAILURE & SUCCESS */
/* will be added to .choice-btn via JavaScript */

.choice-success {
    font-weight: 600;
    color: green;
    border-color: green;
}

.choice-failure {
    font-weight: 600;
    color: red;
    border-color: red;
}